body {
      position: relative;
      /*background-color: #000000 !important;*/
      
}

/* /////////////////////
Seção 0 - Topo
//////////////////////*/

div#section0{background-image: url("../_imagens/_logos/topo.jpg");background-repeat: no-repeat;background-color:#FBFAFE;height:200px;}

img#logo1{
  width: 618px;
  float: right;
  margin-top: 20px;
}

p#textoInicio{
  font-family: 'Dosis', sans-serif;
  font-size: 30pt;
  color: #000; 
  margin-top: 50px;
}
/*Fim da seção 0*/
/*
*
*
*/
/* /////////////////////
Menu de Navegação
//////////////////////*/
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;      
}

.affix a {
  /*color: #fff !important;*/
  padding: 15px !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.affix-top a {
  padding: 30px !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
      
}

.affix ~ .container-fluid {

  position: relative;
  top: 65px;
}

.navbar {
  margin-bottom: 0px;
}
/*Fim do Menu de Navegação*/
/*
*
*
*/
/* /////////////////////
Seção 1 - Inicio
//////////////////////*/
#section1{height:auto;padding:0px;margin-top: 0px;}

#carouselInicio .nav a small {
    display:block;
}
#carouselInicio .nav {
  background:#eee;
}
#carouselInicio .nav a {
    border-radius:0px;
}




/*Fim da seção 1*/
/*
*
*
*/
/* /////////////////////
Seção 2 - Nossa Historia
//////////////////////*/


  


#section2 {padding:0px;margin-top: -5px; color: #fff; background-color: #ffffff;}/*Carousel*/
#section3 {height:auto;color: #000; background-color: #fff;}/*Quem somos ff9800 EC5470 DC405A*/
#section4 {height:750px;color: #fff; background-color: #6A80B6 ;}/*Serviços 00bcd4  009688*/
#section5 {color: #fff; background-color: #00bcd4;}/*Produtos*/
#section6 {height:650px;color: #000; background-color: #fff;}/*Localização*/
#section7 {height:auto;color: #000; background-color: #fff;}/*Fale conosco*/
#section8 {height:200px;color: #000; background-color: #000;} /*2A4B76*/




#descricao-indrodutoria{
  margin-top: 70px;
  font-family: 'Cabin', sans-serif;
  font-size: 13pt;
  
}

#descricao-indrodutoria2{
  font-family: 'Cabin', sans-serif;
  font-size: 13pt;
  
  
}

.owl-carousel .item {
  margin-left: 20px;
}

#owl-produtos{
  margin-top: 20px;
}

#owl-produtos img{
  max-height: 160px;
  max-width: 160px;
}

.playVideo {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background:url(../_imagens/play.png) center center no-repeat;
  cursor: pointer;
  cursor: hand;
  }

.playVideo2 {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background:url(../_imagens/play.png) center center no-repeat;
  cursor: pointer;
  cursor: hand;
  }
/*Componentes da 2º Seção*/



/* Carousel*/

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
  background-color: #2B4F7D;
}

.carousel .item {
  background-color: #2B4F7D;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  z-index: 10;
 
}


.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/*

Código Carousel Antigo
.carousel {
  height: 750px;
  margin-bottom: 60px;

}
/* Since positioning the image, we need to help out the caption 

.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element 
.carousel .item {
  height: 750px;
  background-color: #2B4F7D;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 750px;

}


*/




.logo{
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
}

.slide_carousel{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

.slide_carousel2{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
}

/*Dados Seção 3º*/

p#quemsomos_tit{
  font-family: 'Cabin', sans-serif;
  font-size: 18pt;
  color: #000; 
  margin-top: 60px
  
}

p#quemsomos_des{
  font-family: 'Cabin', sans-serif;
  font-size: 12pt;
  color: #000;  
}

img#imgNossaHistoria{
  max-width: 400px;
}



/*Dados da Seção 4º*/

div#servicos_topo{
  margin-top: 80px;
  font-family: 'Cabin', sans-serif;
  font-size: 25pt;
  color: #000;
}

p#pservicos{
  margin-top: 50px;
  font-family: 'Cabin', sans-serif;
  font-size: 12pt;
}

div#demo1,#demo2,#demo3,#demo4{
  margin-top: 10px;
}

div#collapse_servicos{
  margin-top: 20px;
}

div#produtos_topo{
  margin-top: 80px;
  font-family: 'Cabin', sans-serif;  
}

div#divmaps{
  width: 100%;
  margin-top: 20px;
}

iframe#maps{
  width: 50%;
}

div#endereco{
  width: 50%;
  float: right;
}

div#endereco{
  margin-top: 150px;
}

div#endereco p{
  font-family: 'Cabin', sans-serif; 
  font-size: 15pt;
  margin-bottom: 0px;
  align-content: center;
}


div#localizacao_topo{
  margin-top: 80px;  
}

div#formulario{
  margin-top: 80px;
  margin-bottom: 40px;
}

div#footer{
  font-family: 'Cabin', sans-serif;
  font-size: 13pt;
  color: #fff;
  width: 100%;
  margin-top: 25px;
}

#socialf{
  width: 300px;
  text-align: center;
  margin-right: auto;
  margin-left:auto;
}
.recuo{
  text-indent:4em;
}
